.intro {
    font-style: italic;
  }
  .author{
      color: blueviolet;
  }
  body{
      background-color: rgba(37, 34, 37, 0.329);
  }
  .link{
      color: rgb(104, 52, 37);
  }
  .line {
    color: rgb(148, 108, 112);
  }
  .line2{
      color: rgb(20, 41, 4);
  }
  .important {
    color: rgb(160, 1, 107);
  }
  img{
      float: center;
  }
  .main {
      font-style: italic;
  }
  .color {
      color: rgb(105, 33, 33);
  }